
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: "Josefin Sans", sans-serif;
      }
      nav {
        width: 100%;
        display: flex;
        background-color:rgb(0, 0, 0);
        flex-direction: column;
        align-items: center;
        overflow: hidden;
      }
      /* #a{
        display: flex;
        flex-direction: row; 
      }*/
      h3{
          
          font-size: 60px;
          font-family: monospace;
          color: rgb(255, 255, 255);
          text-align: center;
          padding-top: 150px;
          
         }

      a{
        text-decoration: none;
        font-size: 25px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        padding: 20px;
      }
      a:hover {
        background-color: rgb(56, 54, 54);
      }
      
      .bg{
        
        max-width: 100%;
        height: 480px;
        background-image:  url('https://images.pexels.com/photos/2252308/pexels-photo-2252308.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-position:center center;
        background-repeat: no-repeat;
        background-size: cover;
       
      }
     
    .itblocks{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0px;
      
    }
    .blocks{
        width: 300px;
        height: 360px; 
        background-color: rgb(144, 145, 201);
        margin: 10px;
        border-radius: 30px;
        
    }
    .blocks img{
       
        width: 200px;
        height: 150px; 
        margin: 30px 0px 0px 50px;
        border-radius: 50px;
    }
    #it ,#govt,#other{
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 50px;
    }
    .jd{
      padding: 20px;
      text-align: center;
      margin-top: 20px;
      font-size: 25px;
      letter-spacing: 2px;
     
      
    }

     .button{
       
       background-color: rgb(0, 0, 0);
       position: relative;
       top: 80px;
       left: 85px;
       padding: 30px;
       border-radius: 25px;
       
    } 
    .more{
       background-color: rgb(0, 0, 0);
       position: relative;
       top: 170px;
       left: 85px;
       padding: 30px;
       border-radius: 25px;
    }
    .footr{
      width: 100%;
      height: 310px;
      background-color: rgb(0, 0, 0);
    }
    .footr h2{
      font-size: 30px;
        text-transform: uppercase;
        text-align: center; 
        color: white;
        padding-top: 40px;
    }
    .footr p{
      color: white;
      text-align: center;
      padding-top: 15px;
      font-size: 20px;
      padding: 5px;
    }
    .footr a:hover{
      text-decoration: none;
    }
    .footr h5{
      color: gray;
      text-align: center;
      padding: 10px;
      font-size: 15px;
    }
    span{
     display: flex;
     justify-content: center;
     
    }
    .one{
      background-color: rgb(0, 0, 0);
      color: white;
     
    }
    
    /* tablet */
     @media screen and (min-width:768px) and (max-width:1024px){
       nav{
         flex-direction: row;
         justify-content: space-between;
       }
       a{
         font-size: 20px;
       }
       .itblocks{
         flex-direction: row;
         justify-content: space-evenly;
         align-content: center;
         flex-wrap: wrap;
         
       }
     }    
      @media screen and (min-width: 1025px) {
        nav {
          flex-direction: row;
          justify-content: space-between;
        }
        .itblocks{
          flex-direction: row;
          justify-content: space-evenly;
          align-content: center;
          flex-wrap: wrap;
        }
       
        
      }    
      